# JWT
JWT_SECRET=your_super_secret_jwt_key

# Database
DATABASE_URL="file:./dev.db"

EMAIL_USER="email que irá enviar códigos de recuperação de senha"
EMAIL_PASSWORD="senha do email (google account app password)"